mat-toolbar {
    padding: 3rem;
}

mat-button-toggle-group {
    margin-right: 3rem;
}

.spacer {
    flex: 1 1 auto;
}

.actions {
    margin-right: 1rem;
}

.separador {
    height: 1.5rem;
    width: 0.1rem;
    opacity: 0.2;
    background-color: gray;
    margin-right: 1rem;
}

.icons {
    color: gray;
}