<mat-toolbar>
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="security" (click)="getEvento($event)" [checked]="security"><mat-icon>security</mat-icon></mat-button-toggle>
    <mat-button-toggle value="perm_identity" (click)="getEvento($event)" [checked]="perm"><mat-icon>perm_identity</mat-icon></mat-button-toggle>
  </mat-button-toggle-group>

  <app-pesquisa></app-pesquisa>

  <span class="spacer"></span>

  <div class="actions">
    <button mat-raised-button style="margin-right: 0.4rem; height: 3rem;"><mat-icon>add_chart</mat-icon></button>
    <button mat-raised-button style="background-color: rgb(211, 62, 92); color: white; height: 3rem;"><mat-icon style="margin-right: 0.4rem;">perm_identity</mat-icon>INCLUIR USUÁRIO</button>
  </div>

  <span class="separador"></span>

  <div class="icons">
    <a><mat-icon style="margin-right: 1.5rem;">home</mat-icon></a>
    <a><mat-icon style="margin-right: 1.5rem;">settings</mat-icon></a>
    <a><mat-icon>power_settings_new</mat-icon></a>
  </div>
</mat-toolbar>

<div class="container">
  <app-tabela class="tabela"></app-tabela>
</div>